<a
  [routerLink]="['/']"
  [queryParams]="{ detail: activeJob.id }"
  class="list-group-item clearfix m-1"
>
  <div class="float-left">
    <h6 class="list-group-item-heading">{{ activeJob.title }}</h6>
    <p class="list-group-item-text">
      <small>{{ activeJob.zip_code }}, {{ activeJob.city }}</small>
    </p>
  </div>
  <div class="float-right">
    <img
      [src]="activeJob.thumbnail"
      alt="image for {{ activeJob.title }}"
      class="img-responsive ml-2"
      style="max-height: 50px;"
    />
  </div>
</a>
