<div
  id="active-job-detail"
  class="row m-1 d-flex justify-content-center align-items-center"
>
  <div class="col-xs ">
    <div
      class="card text-center shadow bg-white rounded"
      *ngIf="selectedJob !== undefinded"
    >
      <div class="card-header d-flex justify-content-start align-items-center">
        <img
          src="{{ selectedJob.thumbnail }}"
          class="img-responsive rounded-circle mr-2"
          alt="image for {{ selectedJob.title }}"
          style="max-height: 80px;"
        />
        <h6>{{ selectedJob.title }}</h6>
      </div>
      <div class="card-body">
        <p class="card-text">
          <small>{{ selectedJob.description }}</small>
        </p>
      </div>
      <div class="card-footer text-muted d-flex justify-content-between">
        <button type="button" class="btn button-badge">
          <i class="fa fa-envelope-o"></i>
          <span class="badge badge alert">{{
            selectedJob.counter.messages_unread
          }}</span>
        </button>
        <div class="hr"></div>
        <button type="button" class="btn button-badge">
          <i class="fa fa-paperclip"></i>
          <span class=" badge badge alert">{{ attachments }}</span>
        </button>
        <div class="hr"></div>
        <div *ngIf="isAwarded; else isNotAwarded">
          <i class="award fa fa-star"></i>
        </div>
        <ng-template #isNotAwarded
          ><i class="award fa fa-star-o"></i
        ></ng-template>
      </div>
    </div>
  </div>
</div>
