<div class="row m-1">
  <div class="col">
    show jobs here
    <button (click)="logSpecificJob()">click</button>
  </div>
</div>

<!-- <div class="card">
        <div *ngIf="!actualId; else showJobBlock"></div>
        <ng-template #showJobBlock>here is the job</ng-template>
      </div>
  
  <p *ngIf="!actualId; else showJobBlock">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p>no job to show</pyarn>
              </div>
          </div>
      </p> 
    <ng-template #showJobBlock>here is the job</ng-template>  -->
