/* You can add global styles to this file, and also import other style files */

body {
  min-height: 100vh;
}

p {
  margin: 0;
}

.hr {
  width: 1px;
  border: 1px solid lightgray;
}

.link {
  color: black;
}

.link:hover {
  color: lightgrey;
  cursor: pointer;
}
